.thumbnail {
    padding: 0 0 15px 0 !important;
    border: none !important;
    border-radius: 0 !important;
    margin-top: 30px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
ul{
	list-style-type: none;
}
.fa-clock-o{
	padding-left: 3px  !important;
	color:#555;
}
.fa-map-marker{
    height: 15px;
	padding-left: 3px  !important;
	color:#555;
	overflow-y: hidden;
}
.slideshow{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.name{
    font-size: 15px;
    margin-top: 5px;
}
.events{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.event{
    margin-top: 10px;
}

hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.sukiensapdienra{
  /*  padding-top: 55px;*/
  background-color: #f5f5f5;
}
.mota{
    border: 1px solid #eee;
}